---
import Layout from "../layouts/Layout.astro";
import Maillage from "../components/homepage/Maillage.astro";
import Introduction from "../components/common/Introduction.astro";
import Skills from "../components/homepage/Skills.astro";
import Hero from "../components/homepage/Hero.astro";

const title = "Mélanie Casu - portfolio";

const menuLinks = [
	{
		text: "accueil",
		url: "/",
		transition: true
	},
	{
		text: "projets",
		url: "/projets",
		transition: true
	},
	{
		text: "à propos",
		url: "#a-propos",
		transition: false
	},
	{
		text: "contact",
		url: "#contact",
		transition: false
	}
];
---

<Layout menuLinks={menuLinks} isHome={true} title={title} textureFooter={false}>
	<Hero />
	<div id="a-propos">
		<Introduction
			title="à propos"
			image={{
				src: "/images/melanie-casu.webp",
				description: "Portrait professionnel d'une développeuse et intégratrice web, assise sur une chaise, en tenue décontractée."
			}}
			description=`Je suis Mélanie Casu, reconvertie il y a bientôt deux ans dans le développement web. Spécialisée dans l'intégration et le développement front-end de sites webs, je suis actuellement en alternance dans une agence de communication digitale, et suis la formation "Développeur·se/Intégrateur·trice Web" d'OpenClassrooms.`
		/>
	</div>

	<Maillage text="voir mes projets" link="/projets" />

	<Skills />
</Layout>
