---
import Layout from "../layouts/Layout.astro";
import Maillage from "../components/homepage/Maillage.astro";
import Introduction from "../components/common/Introduction.astro";
import Skills from "../components/homepage/Skills.astro";
import Hero from "../components/homepage/Hero.astro";

const title = "Mélanie Casu - portfolio";

const menuLinks = [
	{
		text: "accueil",
		url: "/",
		transition: true
	},
	{
		text: "projets",
		url: "/projets",
		transition: true
	},
	{
		text: "à propos",
		url: "#a-propos",
		transition: false
	},
	{
		text: "contact",
		url: "#contact",
		transition: false
	}
];
---

<Layout menuLinks={menuLinks} isHome={true} title={title} textureFooter={false}>
	<Hero />
	<div id="a-propos">
		<Introduction
			title="à propos"
			image={{
				src: "/images/melanie-casu.webp",
				description: "lorem"
			}}
			description=`Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquam
nulla vitae ullamcorper pretium. Integer mauris sem, scelerisque non
tempus nec, consequat vitae lectus. Nullam purus libero, efficitur eget
odio in, mollis laoreet nisl. In gravida finibus augue, at hendrerit erat
eleifend mollis. In at congue felis. Suspendisse iaculis posuere pulvinar.
Quisque quis justo id quam cursus dictum. Donec vitae magna sed mauris
dictum aliquet nec ut nibh.`
			`
		/>
	</div>

	<Maillage text="voir mes projets" link="/projets" />

	<Skills />
</Layout>
