---
import Layout from "../layouts/Layout.astro";
import Introduction from "../components/common/Introduction.astro";
import Listing from "../components/projects/Listing.astro";
import listingProjects from "../../src/datas/projects.json";

const menuLinks = [
	{
		text: "accueil",
		url: "/",
		transition: true
	},
	{
		text: "projets",
		url: "/projets",
		transition: true
	},
	{
		text: "à propos",
		url: "/#a-propos",
		transition: true
	},
	{
		text: "contact",
		url: "#contact",
		transition: false
	}
];
---

<Layout menuLinks={menuLinks} isHome={false} title="Projets" textureFooter={true}>
	<main class="bg-fantasy-50 bg-texture opacity-0">
		<Introduction
			title="projets"
			description=`Réalisés en entreprise ou dans le cadre de ma formation, on retrouve ici une petite sélection de projets que j'ai pu réaliser, ou auxquels j'ai participé.`
			image={{
				src: "/projets/lofi-web.webp",
				description: "Ambiance lo-fi avec un ordinateur affichant du code de développement web, vue nocturne en arrière-plan."
			}}
		/>

		<Listing data={listingProjects} />
	</main>
</Layout>
