---
import Layout from "../layouts/Layout.astro";
import Introduction from "../components/common/Introduction.astro";
import Listing from "../components/projects/Listing.astro";
import listingProjects from "../../src/datas/projects.json";

const menuLinks = [
	{
		text: "accueil",
		url: "/",
		transition: true
	},
	{
		text: "projets",
		url: "/projets",
		transition: true
	},
	{
		text: "à propos",
		url: "/#a-propos",
		transition: true
	},
	{
		text: "contact",
		url: "#contact",
		transition: false
	}
];
---

<Layout menuLinks={menuLinks} isHome={false} title="Projets" textureFooter={true}>
	<main class="bg-fantasy-50 bg-texture opacity-0">
		<Introduction
			title="projets"
			description=`Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquam
      nulla vitae ullamcorper pretium. Integer mauris sem, scelerisque non
      tempus nec, consequat vitae lectus. Nullam purus libero, efficitur eget
      odio in, mollis laoreet nisl. In gravida finibus augue, at hendrerit erat
      eleifend mollis.`
			`
			image={{
				src: "/projets/lofi-web.webp",
				description: "lorem"
			}}
		/>

		<Listing data={listingProjects} />
	</main>
</Layout>
