---
interface Props {
	textureFooter: boolean;
}

const { textureFooter } = Astro.props;
---

<footer id="contact" class={`flex h-screen flex-col justify-end bg-fantasy-50 ${textureFooter ? "bg-texture" : " "}`}>
	<div class="flex h-4/5 flex-col justify-end bg-firefly-900 lg:h-2/3">
		<div
			class="flex h-full flex-col flex-nowrap items-center justify-start p-6 pt-14 lg:flex-row lg:justify-between lg:pl-20 lg:pr-40 lg:pt-6"
		>
			<img class="w-40 md:w-48 lg:w-56" src="/logos/logo-beige.svg" alt="Logo Mélanie Casu" />

			<div class="mt-[20vh] space-y-12 text-fantasy-50 lg:mt-0">
				<div class="space-y-4">
					<p class="font-semibold uppercase">Me retrouver sur</p>

					<ul class="space-y-4 text-fantasy-50">
						<li class="text-center lg:text-start">
							<a class="uppercase" href="https://github.com/casumelanie" target="_blank">github</a>
						</li>
						<li class="text-center lg:text-start">
							<a class="uppercase" href="https://www.linkedin.com/in/m%C3%A9laniecasu/" target="_blank">linkedin</a>
						</li>
					</ul>
				</div>
				<a class="inline-block w-full text-center uppercase lg:w-fit" href="mailto:melanie.casu-pro@outlook.fr">Me contacter</a>
			</div>
		</div>
		<div class="flex h-20 w-full items-center border-t-[1px] border-fantasy-50">
			<p class="mx-auto text-center text-sm text-fantasy-50">Mélanie Casu - 2024</p>
		</div>
	</div>
</footer>
